@import "./header";
@import "./banner";
@import "./footer";

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  font-family: $base_font;
}
.navbar-settings {
  background-image: url(../../../assets/img/navbar-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-size: 16px;
  font-family: $base_font;
}
.navbar {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo-text {
  margin-left: 20px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
.navbar-items {
  margin-left: 100px;
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-item-a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}
.searchbox-settings {
  display: flex;
  align-items: center;
  position: relative;
}
.searchbox {
  height: 41px;
  width: 224px;
  border: none;
  border-radius: 12px;
  background-color: #276f98;
  color: white;
  font-size: 16px;
}
.searchicon {
  position: absolute;
  top: 41px;
  left: 200px;
}

@media (width < 1400px) {
  .navbar-items {
    margin-left: 0px;
  }
  .logo {
    justify-content: space-between;
  }
  .logo-text {
    margin-left: 0px;
  }
}
@media (width < 1200px) {
  .logo-text {
    font-size: 13px;
  }
}
