<nav class="container-fluid navbar-settings">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <div class="col-2 d-lg-none hamburger-menu">
          <input id="menu-toggle" type="checkbox" />
          <label class="menu-btn" for="menu-toggle">
            <span></span>
          </label>

          <ul class="navbar-hamburger-items">
            <li>
              <a class="navbar-hamburger-item-a" href="about.html">Про нас</a>
            </li>
            <li>
              <a class="navbar-hamburger-item-a" href="news.html">Новини</a>
            </li>
            <li>
              <a class="navbar-hamburger-item-a" href="forum.html">Форум</a>
            </li>
            <li>
              <a class="navbar-hamburger-item-a" href="contacts.html"
                >Контакти</a
              >
            </li>
          </ul>
        </div>
        <div class="col-8 col-lg-4 logo">
          <a href="index.html"
            ><img src="../../../assets/img/logo.png" alt="logo" />
            <div class="logo-text d-none d-lg-block">
              Громадська організація<br />&laquo;Антитерористичний центр&raquo;
            </div>
          </a>
        </div>
        <div class="col-2 d-lg-none navbar-hidden-item">
          <a href="#">
            <img src="../../../assets/img/search-icon.png" alt="search-icon" />
          </a>
        </div>
        <div class="col-md-8 navbar-menu d-none d-lg-flex">
          <ul class="navbar-items">
            <li class="navbar-item">
              <a href="about.html" class="navbar-item-a">Про нас</a>
            </li>
            <li class="navbar-item">
              <a href="news.html" class="navbar-item-a">Новини</a>
            </li>
            <li class="navbar-item">
              <a href="forum.html" class="navbar-item-a">Форум</a>
            </li>
            <li class="navbar-item">
              <a href="contacts.html" class="navbar-item-a">Контакти</a>
            </li>
          </ul>
          <div class="searchbox-settings">
            <input type="text" class="searchbox" />
            <a href="#" class="searchicon">
              <img
                src="../../../assets/img/search-icon.png"
                alt="search-icon"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
