* {
  background-color: #f6f6f6;
  margin: 0;
}
.header {
  font-family: "Courier New", Courier, monospace;
  margin: 40px 0px;
  text-align: center;
}
.header2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  text-align: right;
  margin-right: 25%;
  margin-bottom: 25px;
}
.header2Span {
  font-style: normal;
}
.header3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-align: right;
  margin-right: 25%;
  margin-bottom: 20px;
}
.div {
  margin: 0 25%;
}
.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.2;
}
.text::first-letter {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 24px;
}
