.current-weather-temp {
  line-height: 2.6rem;
}
.current-weather-temp-text {
  font-size: 56px;
}
.current-weather-day-text {
  width: 190px;
  height: 32px;
}
.day-temp-text {
  font-size: 36px;
}
.day {
  cursor: pointer;
}
.active-day {
  background-color: rgb(235, 235, 235);
}
