<div class="container-fluid main-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-5 main-menu-items">
        <span class="main-menu-man">
          <img
            src="../../../assets/img/head-man.svg"
            alt="head-man"
            width="311"
            height="610"
          />
        </span>
        <div class="main-menu-essay-calc">
          <span class="main-menu-essay-calc-label">GET A PRICE QUOTE.</span>
        </div>
      </div>
      <div class="col-md-7 main-menu-text-settings">
        <div class="main-menu-text">
          <p class="main-menu-top-text">
            <strong>SEARCH</strong>
            <span>PROFESSIONAL</span>
            <br />
            WRITING SERVICES?
          </p>
          <h3 class="main-menu-middle-text">
            Need help in writing your essay,<br />
            coursework or disseration?
          </h3>
          <p class="main-menu-bottom-text">
            <strong>123</strong>helpme.org can<br />
            solve your problems.
          </p>
        </div>
        <div class="main-menu-order-btn">
          <a href="#" class="main-menu-order-btn-a">123 ORDER NOW!</a>
        </div>
      </div>
    </div>
  </div>
</div>
