<div class="container-fluid other-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12 other-menu-items">
        <span class="other-menu-man">
          <img src="../../../assets/img/head-man.svg" alt="head-man" />
        </span>
        <div class="other-menu-text">
          <p class="other-menu-top-text">
            <strong>SEARCH</strong>
            <span>PROFESSIONAL</span>
            <br />
            WRITING SERVICES?
          </p>
          <h3 class="other-menu-middle-text">
            Need help in writing your essay,<br />
            coursework or disseration?
          </h3>
          <p class="other-menu-bottom-text">
            123helpme.org can<br />
            solve your problems.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
