<nav class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="navbar-menu">
        <div class="col-md-3">
          <div>
            <a href="index.html">
              <img
                src="../../../assets/img/main-logo.svg"
                alt="main-logo"
                class="main-logo-img"
              />
            </a>
          </div>
        </div>
        <div class="col-md-9 nav-menu">
          <ul class="nav-menu-items">
            <li>
              <a href="about.html" class="nav-item">ABOUT US</a>
            </li>
            <li>
              <a href="#" class="nav-item">HOW IT WORKS</a>
            </li>
            <li>
              <a href="#" class="nav-item nav-spec-item">ORDER NOW</a>
            </li>
            <li>
              <a href="#" class="nav-item">RESUME</a>
            </li>
            <li>
              <a href="#" class="nav-item">PRICES</a>
            </li>
            <li>
              <a href="#" class="nav-item">DISCOUNTS</a>
            </li>
            <li>
              <a href="#" class="nav-item">FREE ESSAYS</a>
            </li>
            <li>
              <a href="#" class="nav-item">BLOG</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
