<div class="container-fluid top-navbar d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top-navbar-items">
        <div class="local-sites">
          <div class="local-sites-label">Local sites:</div>
          <div class="local-sites-img">
            <a href="#"
              ><img src="../../../assets/img/location-US.png" alt="US-flag"
            /></a>
            <a href="#"
              ><img src="../../../assets/img/location-CA.png" alt="CA-flag"
            /></a>
          </div>
        </div>
        <div class="contact-panel">
          <span class="contact-panel-label">Toll free</span>
          <a href="#" class="contact-panel-btn-a"
            ><button class="contact-panel-btn">+1(888) 6080052</button></a
          >
          <a href="#" class="contact-panel-btn-a"
            ><button class="contact-panel-btn">+1(888) 6506021</button></a
          >
          <a href="#" class="contact-panel-btn-a"
            ><button class="contact-panel-btn contact-panel-chat-btn">
              ONLINE CHAT
            </button></a
          >
          <a href="#" class="contact-panel-btn-a"
            ><button class="contact-panel-btn contact-panel-login-btn">
              LOG IN
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
