<footer class="container-fluid first-footer-settings">
  <div class="container">
    <div class="row">
      <div class="col-12 first-footer">
        <div class="first-footer-text">&nbsp;Отримуйте новини</div>
        <form action="" class="first-footer-forms">
          <div class="double-footer-form">
            <input type="text" placeholder="Введіть ваше ПІБ" />
            <input type="email" placeholder="Введіть ваш Email" />
          </div>
          <div class="footer-form">
            <input type="text" placeholder="Хто ви?" />
          </div>
        </form>
        <div class="subscribe-btn">
          <button class="subscribe">Підписатись</button>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="container-fluid second-footer-settings">
  <div class="container">
    <div class="row">
      <div class="col-12 second-footer">
        <div class="second-footer-text">
          Громадська організація<br />&laquo;Антитерористичний центр&raquo;
        </div>
        <div class="second-footer-numbers">
          +380673620718<br />
          +380673621414
        </div>
        <div class="second-footer-icons">
          <img
            src="../../../assets/img/social-media-logo.png"
            alt="social-media-logo"
          /><img
            src="../../../assets/img/twitter-logo.png"
            alt="twitter-logo"
          />
          <img
            src="../../../assets/img/facebook-logo.png"
            alt="facebook-logo"
          />
          <img
            src="../../../assets/img/instagram-logo.png"
            alt="instagram-logo"
          />
        </div>
        <div class="second-footer-btn">
          <button class="return-btn">
            <img src="../../../assets/img/return-btn.png" alt="return" />
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
