<nav class="container-fluid navbar-settings">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <div class="col-md-4 logo">
          <a href="index.html"
            ><img src="../../../assets/img/logo.png" alt="logo"
          /></a>
          <div class="logo-text">
            Громадська організація<br />&laquo;Антитерористичний центр&raquo;
          </div>
        </div>
        <div class="col-md-8 navbar-menu">
          <ul class="navbar-items">
            <li class="navbar-item">
              <a href="about.html" class="navbar-item-a">Про нас</a>
            </li>
            <li class="navbar-item">
              <a href="news.html" class="navbar-item-a">Новини</a>
            </li>
            <li class="navbar-item">
              <a href="forum.html" class="navbar-item-a">Форум</a>
            </li>
            <li class="navbar-item">
              <a href="contacts.html" class="navbar-item-a">Контакти</a>
            </li>
          </ul>
          <div class="searchbox-settings">
            <input type="text" class="searchbox" />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
