<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="news-section col-12">
        <div class="news-section-text">
          НОВИНИ<span class="news-section-line"></span>
        </div>
        <div class="news-section-items">
          <div class="news-section-item">
            <div class="news-item">
              <img src="../../../assets/img/first-news.png" alt="" />
              <div class="news-item-text">
                Контррозвідка СБУ: викритого ватажка бойовиків оголошено у
                розшук У 2014 році цей бойовик брав активну участь в захопленні
                Управління СБУ в Луганській області. Пізніше він організовував
                «охорону» захопленої будівлі, а також готував терористів для
                збройного опору українським військовим.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
            <div class="news-item">
              <img src="../../../assets/img/second-news.png" alt="" />
              <div class="news-item-text">
                Контррозвідники спецслужби попередили вже другу спробу вивезення
                з України агрегатів для зенітно-ракетного комплексу «Оса-АКМ».
                Незаконний експорт озброєння організували посадовці вітчизняного
                підприємства
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
          </div>
          <div class="news-section-item">
            <div class="news-item">
              <img src="../../../assets/img/third-news.png" alt="" />
              <div class="news-item-text">
                1035 кг героїну на понад 2,3 млрд грн: СБУ викрила масштабну
                партію наркотиків За результатами тривалої багатоходової
                спецоперації співробітникам спецслужби вдалось задокументувати
                протиправну діяльність транснаціонального організованого
                злочинного угруповання, яке складалося з громадян Туреччини.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
            <div class="news-item">
              <img src="../../../assets/img/fourth-news.png" alt="" />
              <div class="news-item-text">
                У період поширення коронавірусної інфекції COVID-19 за
                матеріалами Служби безпеки України зареєстровано 99 кримінальних
                проваджень стосовно злочинів і зловживань на пандемії.У період
                поширення коронавірусної інфекції COVID-19 за матеріалами Служби
                безпеки України зареєстровано 99 кримінальних проваджень
                стосовно злочинів і зловживань на пандемії.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
          </div>
          <div class="news-section-item">
            <div class="news-item">
              <img src="../../../assets/img/fifth-news.png" alt="" />
              <div class="news-item-text">
                Як повідомляє інформаційне агентство «АрміяІнформ», курсанти
                факультету підготовки спеціалістів Десантно-штурмових військ
                Військової академії (м. Одеса) здали кров для поранених на Сході
                держави українських військовослужбовців, які проходять лікування
                у Військово-медичному клінічному центрі Південного регіону.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
            <div class="news-item">
              <img src="../../../assets/img/sixth-news.png" alt="" />
              <div class="news-item-text">
                СБУ викрила в Одесі мережу call-центрів, які працювали на
                російські компанії Кіберфахівці спецслужби встановили, що схему
                організували одеські комерсанти та ІТ-фахівці. П’ять
                сall-центрів працювали як служби клієнтської підтримки.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
          </div>
          <div class="news-section-item">
            <div class="news-item">
              <img src="../../../assets/img/seventh-news.png" alt="" />
              <div class="news-item-text">
                Метою батальйонно-тактичних навчань є вдосконалення практичних
                навичок в управлінні підрозділами батальйону під час підготовки
                та ведення наступу в різних умовах обстановки. Досягнення
                злагоджених та вмілих дій батальйону під час ведення
                наступального бою з ходу з висуванням з глибини.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
            <div class="news-item">
              <img src="../../../assets/img/eighth-news.png" alt="" />
              <div class="news-item-text">
                СБУ викрила у трьох областях інтернет-агітаторів, які закликали
                до зміни держкордону України Викрита кіберфахівцями спецслужби
                міжрегіональна мережа агітаторів працювала у Дніпропетровській,
                Черкаській та Сумській областях.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
          </div>
          <div class="news-section-item">
            <div class="news-item">
              <img src="../../../assets/img/nineth-news.png" alt="" />
              <div class="news-item-text">
                Служба безпеки України викрила на Рівненщині посадовців одного з
                прикордонних пунктів на систематичному «кришуванні» незаконного
                переміщення з Білорусі підакцизних товарів. Оперативники
                спецслужби встановили, що 15 фігурантів справи, серед яких
                посадові особи Держприкордонслужби, організували канал
                незаконного переміщення у нашу країну.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
            <div class="news-item">
              <img src="../../../assets/img/tenth-news.png" alt="" />
              <div class="news-item-text">
                СБУ завершила досудове розслідування щодо замовника та
                організатора підпалу авто журналістки «Радіо Свобода» Слідчі
                Служби безпеки України встановили, що організатором підпалу
                журналістки Галини Терещук був працівник Франківського відділу
                поліції ГУ Нацполіції у Львівській області.
                <a href="#" class="news-item-a">докладніше &#8594;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
