.navbar-menu {
  display: flex;
  align-items: center;
}
.main-logo-img {
  height: auto;
  width: 269px;
  margin: 15px 0px;
}
.nav-menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-size: 14px;
  font-family: $bold_base_font;
}
.nav-item {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
}
.nav-item:hover {
  background-color: #7cdeda;
}
.nav-spec-item {
  background-color: #f26695;
  color: white;
}
.nav-spec-item:hover {
  background-color: #f26695;
}

@media (width < 1200px) {
  .main-logo-img {
    width: 213px;
  }
  .nav-menu-items {
    font-size: 13px;
  }
  .nav-item {
    padding: 5px;
  }
}
